@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
@import url("https://fonts.googleapis.com/css?family=Sriracha");

@font-face {
  font-family: "DreamersBrush";
  src: url(fonts/DREAMERSBRUSH.woff) format("woff"),
    url(fonts/DREAMERSBRUSH.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: Raleway;
  color: #777;
}

html,
body {
  margin: 0;
  padding: 0;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 1.5em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav li {
  padding: 0 5%;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-header {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("images/headerBackground.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 30px;
}

.band-name {
  text-align: center;
  margin: 0;
  font-family: "DreamersBrush";
  font-size: 5em;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.band-name-large {
  font-size: 8em;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em;
}

.section-header {
  font-family: "Sriracha";
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.8em;
}

.about-band-image {
  float: right;
  height: 200px;
  width: 200px;
  margin: 12px;
  border-radius: 50%;
}

.main-footer {
  background-color: #777;
  color: white;
  padding: 0.3em;
}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav li {
  padding: 0 0.8em;
}

.footer-nav img {
  height: 80px;
}

.button {
  text-align: center;
  vertical-align: middle;
  padding: 0.66em;
  cursor: pointer;
}

.button-header {
  margin: 0.5em 35% 2em 35%;
  color: white;
  border: 3px solid teal;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  font-size: 1.3em;
  font-weight: lighter;
  padding-left: 3em;
  padding-right: 3em;
}

.button-header:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.button-play {
  display: block;
  margin: 0 auto;
  color: teal;
  font-size: 4em;
  border-radius: 50%;
  padding: 0em 0.3em;
  width: 100px;
  height: 100px;
}

.tour-row {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  margin: 1em;
}

.tour-row:last-child {
  border-bottom: none;
}

.tour-item {
  display: inline-block;
  padding-right: 0.5em;
}

.tour-date {
  color: #555;
  font-weight: bold;
  width: 25%;
}

.tour-city {
  width: 20%;
}

.tour-location {
  width: 35%;
}

.tour-button {
  max-width: 25%;
  height: 3em;
}

.button-primary {
  color: white;
  background-color: teal;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.button-primary:hover {
  background-color: gray;
  cursor: pointer;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shop-item {
  margin: 30px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  color: #333;
  margin: 20px;
}

.shop-item-img {
  height: 250px;
}

.shop-item-button {
  width: 10em;
  height: 35px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
  color: #333;
}

.cart-header {
  font-weight: bold;
  font-weight: 1.2em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 1em;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  color: #333;
}

.cart-price-value {
  font-size: 1.3em;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-img {
  width: 80px;
  height: auto;
  border-radius: 12px;
}

.button-danger {
  color: white;
  background-color: #eb5757;
  height: 34px;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.button-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 8px;
  border: 1px solid teal;
  margin-right: 25px;
  padding: 0;
  background-color: #eee;
  text-align: center;
  color: #333;
  font-size: 1.3em;
}

.cart-row:last-child {
  border-bottom: 3px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 15px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 25px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.button-purchase {
  display: block;
  margin: 30px auto 50px auto;
  font-size: 1.4em;
  width: 10em;
}

.empty-cart {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  color: #333;
  margin: 20px;
  background-color: lightgray;
  height: 6em;
  padding-top: 2.2em;
}